* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    max-width: 768px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px 20px;
    grid-auto-columns: 1fr;
    justify-items: center;
    margin: 40px auto;
}